*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //outline: solid 1px red;
}
Body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
.header{
    width: 100%;
    height: 96.34px;
    display: flex;
    width: 100%;
    background: #FFFFFF;

    &__location{
        display: flex;
        width: 20%;
        justify-content: left;
        align-items: center;
        padding-left: 20px;

        i{
            font-size: 20px;
            margin-right: 10px;
            color: #353535; ;
        }
    }

    &__logo{
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;

        img{
            width: 200px;
        }
    }
}
.menu{
    width: 100%;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    img{
        width: 100%;
        object-fit: cover;
        height: 383px;
    }

}

//section menu
.menu__section__title{
    position: relative;
    top: -30px;
    flex-direction: column;
    width: 1055px;
   border-radius: 30px 30px 0 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
    @media screen and (max-width: 1077px) and (min-width: 0px){
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;  
    }
  
    h1{
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
        font-family: 'Shrikhand', cursive;
        font-size: 24px;
        margin: 0;
        padding: 15px ;
        

        @media screen and (max-width: 657px) and (min-width: 0px){
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        
    }
    .heart{
        width: 70%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;

        @media screen and (max-width: 657px) and (min-width: 0px){
            width: 50%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 10px;
            margin: 0;
        }
        i{
            font-size: 20px;
            padding: 0;
            margin: 0;
            color: #101010; 
        }
    }
    .heart:hover i{
        animation: fill 0.3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background: $color-quaternary;       
         background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        font-weight: bold;
    }
   

}

.menu__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 657px){
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}
.gout{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-top:  30px;
    margin: 0; 

    @media screen and (max-width: 657px){
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-top:30px;
        margin: 0; 
    }
}
//carte
.menu__section__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;

    @media screen and (max-width: 652px){
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
      
    }

    .menu__section__card__title{
        width: 637px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    
        padding-left: 0px;
        margin-bottom: 10px;
        margin-top: 30px;
        @media screen and (max-width: 657px){
            width: 100%;
            display: flex;
            justify-content: left;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-top: 30px;
            flex-wrap: wrap;
        }

        h2{
            display: flex;
            width: 100%;
            justify-content: left;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            text-align: left;
            margin: 0;
            padding: 0;
        }
        p{
            width: 40px;
            display: flex;
            justify-content: left;
            text-align: left;
            border-bottom: solid  3px $color-tertiary;
            margin: 0;
            padding-top: 7px;
        }
    }
    .list__plat{
        width: 639px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;

        @media screen and (max-width: 657px){
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0 0 0 0;
            flex-wrap: wrap;
        }
    }   
}
	
.Container {
    cursor: pointer;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px  0 10px 10px;
    margin: 0 0 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: Container;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    
    @keyframes Container {
        from {
            transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
            opacity: 0
        }
        5% { transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg) }
    }
    .plat{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
           white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        h2{
            width: 100%;
            font-family: 'roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            padding: 0;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
           
        }
        .description{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-overflow: ellipsis;
            margin:  0;
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            p{
                width: 100%;
                font-family: 'roboto', sans-serif;
                font-size: 15px;
                font-weight: 300;
                padding-top: 2px;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .prix{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin:  0;
                padding: 0;
                p{
                    width: 100%;
                    font-weight:bold ;
                    text-align: right;
                    padding-top: 2px;
                    padding: 0 15px 0 0;
                    margin: 0;
                }
            }
        }
    }
    .check{
        width: 0;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        transform: scaleX(0);
        transform-origin: right 100%;
        transition: transform 0.5s ease-in-out;
        transform: transform 0.5s ease-out;
        margin: 0;
        padding: 0;
        i{
            width: 0;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:0;
            margin: 0;
            border-radius: 0 15px 15px 0;
            color: whitesmoke;
            transform: scaleX(0);
            transform: transform 0.5s ease-out;
        }
    }
}
.Container1{
    cursor: pointer;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px  0 10px 10px;
    margin: 0 0 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: Container;
    animation-timing-function: ease-in-out;
    animation-duration: 1.9s;

    .plat{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        h2{
            width: 100%;
            font-family: 'roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            padding: 0;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .description{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-overflow: ellipsis;
            margin:  0;
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            p{
                width: 100%;
                font-family: 'roboto', sans-serif;
                font-size: 15px;
                font-weight: 300;
                padding-top: 2px;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .prix{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin:  0;
                padding: 0;
                p{
                    width: 100%;
                    font-weight:bold ;
                    text-align: right;
                    padding-top: 2px;
                    padding: 0 15px 0 0;
                    margin: 0;
                }
            }
        }
    }
    .check{
        width: 0;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        transform: scaleX(0);
        transform-origin: right 100%;
        transition: transform 0.5s ease-in-out;
        transform: transform 0.5s ease-out;
        margin: 0;
        padding: 0;
        i{
            width: 0;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:0;
            margin: 0;
            border-radius: 0 15px 15px 0;
            color: whitesmoke;
            transform: scaleX(0);
            transform: transform 0.5s ease-out;
        }
    }
    
}
.Container1:hover .check i, .Container1:hover .check {
    transform: scaleX(1);
    width: 79px;
}

.Container2{
    cursor: pointer;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px  0 10px 10px;
    margin: 0 0 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: Container;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;

    .plat{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        h2{
            width: 100%;
            font-family: 'roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            padding: 0;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .description{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-overflow: ellipsis;
            margin:  0;
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            p{
                width: 100%;
                font-family: 'roboto', sans-serif;
                font-size: 15px;
                font-weight: 300;
                padding-top: 2px;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .prix{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin:  0;
                padding: 0;
                p{
                    width: 100%;
                    font-weight:bold ;
                    text-align: right;
                    padding-top: 2px;
                    padding: 0 15px 0 0;
                    margin: 0;
                }
            }
        }
    }
    .check{
        width: 0;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        transform: scaleX(0);
        transform-origin: right 100%;
        transition: transform 0.5s ease-in-out;
        transform: transform 0.5s ease-out;
        margin: 0;
        padding: 0;
        i{
            width: 0;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:0;
            margin: 0;
            border-radius: 0 15px 15px 0;
            color: whitesmoke;
            transform: scaleX(0);
            transform: transform 0.5s ease-out;
        }
    }
    
}
.Container2:hover .check i, .Container2:hover .check {
    transform: scaleX(1);
    width: 79px;
}

    

.Container:hover .check i, .Container:hover .check {
    transform: scaleX(1);
    width: 79px;
}     


    

// bouton
.button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 0 0 15px 15px;
    
    button{
        display: flex;          
        justify-content: center;            
        align-items: center;
        padding: 0;
        margin: 0;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background: $color-quaternary;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
}

// footer
footer{
    position: relative;
    width: 100%;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #353535;
    top: -38px;
    @media screen and (max-width: 767.98px){
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
      margin: 0;      
    }
    ul{
        display: flex;
        list-style: none;
        color: white;
        justify-content: right;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 60%;

        @media screen and (max-width: 767.98px){
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          margin-bottom: 20px;
          
        }

      li{ 
         padding: 0 10px;
         margin: 0;
         & i{
          padding: 0 10px;
         }
        @media screen and (max-width: 767.98px){
          width: 100%;
          flex-direction: column;
          padding-bottom: 10px;
          
          i{
              padding-right: 10px; 
              padding-left: 0px;
           } 
        }
      }
        
    }
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      padding: 0 ;
      margin: 0;
     width: 20%;
      @media screen and (max-width: 767.98px){
        width: 100%;
        padding-left: 20px;
        margin-bottom: 10px;
        justify-content: left;  

      } 
    }
    .ohmyfood{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 400;
        @media screen and (max-width: 767.98px){
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          margin-bottom: 30px;
          margin-top: 30px;
        }
    }
}








